%h2 Add player

= form_for @player do |player_form|
  .field
    = player_form.label :first_name
    = player_form.text_field :first_name

  .field
    = player_form.label :last_name
    = player_form.text_field :last_name
  .field
    Geslacht
    .options

      man
      = player_form.radio_button :gender, "male"

      vrouw
      = player_form.radio_button :gender, "female"

  = player_form.submit
